/* features section  Nchombua yvette*/

.features-intro button {
    color: var(--primary-color);
    background-color: #fff6d9;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
  }
  
  .features-intro button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.1s ease-in;
  }
  
  .features-intro h1,
  .features-icons h4 {
    font-weight: 800;
  }
  
  .features-icons {
    margin-bottom: 1.2rem;
  }
  
  .features-icons a img {
    margin-right: 1rem;
  }
  
  .features-icons a img:hover {
    background-color: var(--bg-primary);
    border-radius: 50%;
    transform: translateY(5px);
    transition: all 0.2s ease-in;
  }
  
  .mobile img {
    margin-left: -15rem;
    height: 85%;
    object-fit: cover;
    transition: hover 0.8s ease;
  }
  
  .features-intro {
    margin-right: -6rem;
  }
  
  /* end of features */
  
  /* footer */
  
  .footer-section {
    background-color: var(--bg-primary);
  }
  
  .footer-title span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translateY(27px);
    margin-right: 0.5rem;
  }
  
  .footer-title h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  footer ul li a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 2.5rem;
    transition: all 0.2s ease-in;
  }
  
  footer ul li :hover {
    color: var(--primary-color);
    background-color: #42a0ff;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease-in;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin-right: 0.8rem;
    height: 30px;
    width: 40px;
  }
  
  .social-media-icons a img {
    background-color: #42a0ff;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 7px;
    height: 100%;
    width: 80%;
    overflow: hidden;
    object-fit: contain;
    transition: all 0.2s ease-in;
  }
  
  .social-media-icons a img:hover {
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  /* media queries */
  
  @media (max-width: 576px) {
  
    /* features and footer */
    .container {
      max-width: 530px;
      height: 100%;
    }
    .mobile {
      display: none;
    }
  
    .features-intro button {
      display: block;
      margin: 0 auto;
    }
  
    .features-intro h1 {
      font-size: 1.6rem;
    }
  
    .features-icons {
      flex-direction: column;
      text-align: center;
      border: 1px solid grey;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px var(--bg-primary);
      padding: 1rem;
    }
  
    .features-icons a img {
      /* margin:-1rem 0 0.5rem 0 ; */
      margin-bottom: 0.5rem;
    }
  
    .footer-section footer {
      padding-bottom: 1rem;
    }
  
    footer ul {
      flex-direction: column;
    }
  
    footer ul li {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
  
    .footer-title span {
      transform: translateY(15px);
      margin-left: 0.1rem;
    }
  }
  
  @media (max-width: 768px) {
  
    /* features and footer */
    .mobile img {
      display: block;
      margin: 0 auto;
      width: 50%;
      height: auto;
    }
  
    #features .container {
      flex-direction: column;
      height: 100%;
    }
  
    footer {
      padding: 0 0 22rem 0;
    }
  }
  
  